In [1]:
import pandas as pd

print(pd.__version__)

C:\Users\Enes\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Enes\anaconda3\lib\site-packages\numpy\.libs\libopenblas.gk7gx5keq4f6uyo3p26ulgbqyhgqo7j4.gfortran-win_amd64.dll
C:\Users\Enes\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

1.3.5

In [1]:
import pandas as pd
import numpy as np

ImportError: Unable to import required dependencies:
numpy:

IMPORTANT: PLEASE READ THIS FOR ADVICE ON HOW TO SOLVE THIS ISSUE!

Importing the numpy C-extensions failed. This error can happen for
many reasons, often due to issues with your setup or how NumPy was
installed.

We have compiled some common reasons and troubleshooting tips at:

    https://numpy.org/devdocs/user/troubleshooting-importerror.html

Please note and check the following:

  * The Python version is: Python3.8 from "C:\Users\Enes\anaconda3\python.exe"
  * The NumPy version is: "1.20.3"

and make sure that they are the versions you expect.
Please carefully study the documentation linked above for further help.

Original error was: DLL load failed while importing _multiarray_umath: Belirtilen modül bulunamadı.

In [29]:
df = pd.read_csv('UK_Petrol_Prices.csv')

In [30]:
df.head()

         Date  Diesel (USD)  difference  Number of Records  Petrol (USD)
0  09-06-2003     76.773394    2.183110                  1     74.590284
1  16-06-2003     76.689054    2.219911                  1     74.469143
2  23-06-2003     76.620546    2.196980                  1     74.423566
3  30-06-2003     76.505260    2.152839                  1     74.352421
4  07-07-2003     76.457376    2.173639                  1     74.283737

In [20]:
df.isnull().sum()

Date                 1
Diesel (USD)         1
difference           1
Number of Records    0
Petrol (USD)         1
dtype: int64

In [22]:
df.shape

(882, 5)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               881 non-null    object
 1   Diesel (USD)       881 non-null    float64
 2   difference         881 non-null    float64
 3   Number of Records  882 non-null    int64
 4   Petrol (USD)       881 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 34.6+ KB

In [32]:
df.drop(['difference'], axis=1, inplace=True)

In [46]:
df.columns

Index(['Date', 'Diesel (USD)', 'Number of Records', 'Petrol (USD)'], dtype='object')

In [33]:
df

           Date  Diesel (USD)  Number of Records  Petrol (USD)
0    09-06-2003     76.773394                  1     74.590284
1    16-06-2003     76.689054                  1     74.469143
2    23-06-2003     76.620546                  1     74.423566
3    30-06-2003     76.505260                  1     74.352421
4    07-07-2003     76.457376                  1     74.283737
..          ...           ...                ...           ...
877  30-03-2020    118.597998                  1    112.452709
878  06-04-2020    116.833354                  1    110.234797
879  13-04-2020    116.150812                  1    109.265819
880  20-04-2020    115.732573                  1    108.632747
881         NaN           NaN                  1           NaN

[882 rows x 4 columns]

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Diesel (USD),881.0,115.614675,19.715905,76.408120,98.513787,118.597998,132.872053,148.037710
difference,881.0,4.507320,2.958042,-2.534532,2.152839,4.209073,5.914812,15.091384
Number of Records,882.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
Petrol (USD),881.0,111.107355,18.588151,74.206577,95.306029,114.782386,127.924651,142.172754

In [40]:
df.duplicated().sum()

0

In [47]:
df.isnull().sum()

Date                 0
Diesel (USD)         0
Number of Records    0
Petrol (USD)         0
dtype: int64

In [44]:
df.dropna(subset = ["Date"], inplace = True)

In [48]:
df.shape

(881, 4)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 881 entries, 0 to 880
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               881 non-null    object
 1   Diesel (USD)       881 non-null    float64
 2   Number of Records  881 non-null    int64
 3   Petrol (USD)       881 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 34.4+ KB

In [51]:
df['Number of Records'] != 0

0      True
1      True
2      True
3      True
4      True
       ...
876    True
877    True
878    True
879    True
880    True
Name: Number of Records, Length: 881, dtype: bool